{
    "semi":true,
    "tabWidth": 2,
    "singleQuote": true,
    "useTabs": false,
    "printWidth": 100,
    "vueIndentScriptAndStyle": true,
    "trailingComma": "none",
    "bracketSameLine": true
}